@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif !important;
}

#root {
  overflow: hidden !important;
}

body {
  padding: 0 !important;
  overflow-y: auto !important;
}

.navbar-ellipse {
  position: absolute;
  top: 100%;
  left: 100%;
  transform: translate(-100%);
  z-index: -1;
}

.highLight {
  position: absolute;
  width: 40px;
  height: 40px;
  top: -10px;
  left: 0;
}

.lottie svg {
  transform: unset !important;
}

.customScrollbarContainer::-webkit-scrollbar {
  background: #E6E6E6 !important;
  width: 5px;
}

.customScrollbarContainer::-webkit-scrollbar-thumb {
  background: #14B8A6 !important;
  border-radius: 0 0 10px 10px;
}